pipeline/CustomerETLDemo.json
{
	"name": "CustomerETLDemo",
	"properties": {
		"activities": [
			{
				"name": "GetCustomerBlobMetadata",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlobCustomerStaging",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"size",
						"exists"
					]
				}
			},
			{
				"name": "LookupLastRunDate",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GET_LAST_RUN_DATE]"
					},
					"dataset": {
						"referenceName": "azuresqldbEtlControl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CheckForNewBlob",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCustomerBlobMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupLastRunDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@greater(\nactivity('GetCustomerBlobMetadata').output.lastModified,\nactivity('LookupLastRunDate').output.firstRow.LAST_RUN_DATE\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SetFalse",
							"type": "SetVariable",
							"typeProperties": {
								"variableName": "IsNewBlobFileAvailable",
								"value": {
									"value": "0",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "CopyBlobToStaging",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "BlobSource",
									"recursive": true
								},
								"sink": {
									"type": "SqlSink",
									"writeBatchSize": 10000,
									"preCopyScript": "EXEC [dbo].[TRUNCATE_STAGE_CUSTOMER]"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureBlobCustomerStaging",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLDBStageCustomer",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "MergeCustomerStaging",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyBlobToStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[MERGE_CUSTOMER_FROM_STAGING]"
							},
							"linkedServiceName": {
								"referenceName": "azsqldb_bssug_demo",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UpdateLastRunDate",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MergeCustomerStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[UPDATE_LAST_RUN_DATE]",
								"storedProcedureParameters": {
									"LAST_RUN_DATE": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "azsqldb_bssugdw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"IsNewBlobFileAvailable": {
				"type": "String"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}